.inicio-container {
  display: flex;
  height: 100vh;
  background-color: #f8f9fa;
  position: relative;
  transition: all 0.3s ease;
  font-family: "Poppins", sans-serif;
}

/* Botón hamburguesa */
.boton-menu {
  position: absolute;
  top: 20px;
  left: 10px;
  background: #117b9b;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  z-index: 1001;
  transition: background 0.3s;
}

.boton-menu:hover {
  background: #2091c6;
}

/* Menú lateral */
.menu-lateral {
  width: 220px;
  background-color: #13768f;
  color: white;
  padding: 60px 20px 20px;
  transition: width 0.3s ease, transform 0.3s ease;
  overflow: hidden;
  z-index: 1000;
}

.menu-lateral.cerrado {
  width: 0;
  padding: 60px 0;
  transform: translateX(-100%);
}

.menu-lateral h2 {
  text-align: center;
  margin-bottom: 20px;
}

.menu-lateral ul {
  list-style: none;
  padding: 0;
}

.menu-lateral li {
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 6px;
  transition: background 0.3s;
}

.menu-lateral li:hover {
  background-color: #10b6bf;
}

/* Contenido principal */
.contenido-principal {
  flex: 1;
  padding: 20px;
  text-align: center;
  margin-left: 0px;
  transition: margin-left 0.3s ease;
}

.menu-colapsado .contenido-principal {
  margin-left: 0;
}

/* Cuadrícula de módulos */
.grid-modulos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-top: 30px;
  justify-items: center;
}

.card-modulo {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 360px;
  height: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  transition: transform 0.3s;
}

.card-modulo:hover {
  transform: scale(1.05);
}

.img-modulo {
  width: 100%;
  height: 195px;
  object-fit: cover;
  border-radius: 10px;
}

.card-modulo button {
  background-color: #12c2cb;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
  transition: background 0.3s;
}

.card-modulo button:hover {
  background-color: #11b1bf;
}