/* ========================== */
/* VARIABLES GLOBALES */
:root {
  --color-text: rgba(255, 255, 255, 0.87);
  --color-bg: #242424;
  --font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --color-link: #646cff;
  --color-link-hover: #535bf2;
  --color-button-bg: #1a1a1a;
  --color-button-hover: #646cff;
}

/* ========================== */
/* ESTILOS GLOBALES */
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-family);
  background-color: var(--color-bg);
  color: var(--color-text);
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  font-weight: 500;
  color: var(--color-link);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-link-hover);
}

/* ========================== */
/* BOTONES GLOBALES */
button.global-btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-button-bg);
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
}
button.global-btn:hover {
  border-color: var(--color-button-hover);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* ========================== */
/* MODO CLARO */
@media (prefers-color-scheme: light) {
  :root {
    --color-text: #213547;
    --color-bg: #ffffff;
    --color-link-hover: #747bff;
    --color-button-bg: #f9f9f9;
    --color-button-hover: #646cff;
  }
}
